html,body{
	width: 100%;
	height: 100%;
}

/* 共同样式
 * width: 1230px;(页面宽度)  
 *  */
.center{
	margin: 0px auto;
	width: 1230px;
}

/* 1、导航 
 * height: 60px;
 * */
#nav{
	height: 60px;
	/*background: red;*/
}

/* 主要菜单
 * width: 898px;
 * 
 * */
#nav .menu{
	width: 898px;
	height: 60px;
	/*background: blueviolet;*/
	float: left;
}

/* 菜单栏中主标题的字体样式 */
#nav .menu .main_title{
	width: 72.2px;
	height: 14px;
	color: #505050;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding-bottom: 6px;
	text-align: left;
	/*background: purple;*/
}


/* logo
 * width: 50px;
 */
#nav .menu #menu-logo{
	width: 50px;
	height: 20px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-right: 18px;
	display: block;
	float: left;
}

#nav .menu .logo{
	width: 50px;
	height: auto;
	/*margin-top: 15px;
	margin-left: 15px;
	margin-right: 18px;*/
}

#nav .menu .menu_item_1{
	width: 89px;
	height: 60px;
	/*background: purple;*/
	background: white;
	float: left;
	text-align: center;
	position: relative;
}

#nav .menu .menu_item_1 .second_level_menu_1{
	width: 1230px;
	height: 0px;
	background: white;
	transition: height 0.2s;
	overflow: hidden;
	position: absolute;
	left: -83px;
	box-shadow: 0px 10px 15px white;
}

#nav .menu .menu_item_1:hover .second_level_menu_1{
	height: 307px;
	z-index: 999;
}

#nav .menu .menu_item_1 .second_level_menu_1 #box1_1{
	width: 257px;
	height: 197px;
	/*background: blue;*/
	margin-left: 101px;
	margin-top: 5px;
	float: left;
}

#nav .menu .sub_title_1{
	width: 257px;
	height: 14px;
	color: #505050;
	font-size: 12px;
	line-height: 14px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	text-align: left;
	padding-top: 6px;
	padding-bottom: 6px;
}

#nav .menu .menu_item_1 .second_level_menu_1 #box2_1{
	width: 257px;
	height: 150px;
	/*background: purple;*/
	margin-top: 5px;
	float: left;
}

#nav .menu .menu_item_1 .second_level_menu_1 a:hover{
	color: #44a8f2;
}

#nav .menu .menu_item_1 .second_level_menu_1 .box_img #box_3_1{
	width: 600px;
	height: 280px;
	background: white;
	position: absolute;
	display: none;
}

#nav .menu .menu_item_1 .second_level_menu_1 .box_img #box_3_1 img{
	width: 600px;
	height: 280px;
	position: absolute;
	display: block;
}

#nav .menu .box_img{
	width: 600px;
	height: 280px;
	/*background: purple;*/
	float: left;
	padding-top: 13px;
	position: relative;
}

#nav .menu .sub_box_img{
	width: 300px;
	height: 140px;
	/*background: red;*/
	display: inline-block;
	float: left;
}

#nav .menu .box_img img{
	width: 300px;
	height: auto;
}

#nav .menu .menu_item_2{
	width: 166px;
	height: 60px;
	/*background: black;*/
	background: white;
	float: left;
	text-align: center;
	position: relative;
}

#nav .menu .menu_item_2 .second_level_menu_2{
	width: 1230px;
	height: 0px;
	background: white;
	transition: height 0.2s;
	overflow: hidden;
	position: absolute;
	left: -172px;
}

#nav .menu .menu_item_2:hover .second_level_menu_2{
	height: 307px;
	z-index: 999;
}

#nav .menu .menu_item_2 .second_level_menu_2 a:hover{
	color: #44a8f2;
}

#nav .menu .menu_item_2 .second_level_menu_2 #box1_2{
	width: 128px;
	height: 164px;
	/*background: blueviolet;*/
	margin-left: 101px;
	margin-top: 5px;
	float: left;
}

#nav .menu .menu_item_2 .second_level_menu_2 #box1_2 #Aerial_text{
	width: 46.89px;
}

#nav .menu .menu_item_2 .second_level_menu_2 #box2_2 a{
	width: 192px;
}

#nav .menu .menu_item_2 .second_level_menu_2 #box2_2{

	width: 192px;
	height: 176px;
	/*background: blue;*/
	margin-top: 5px;
	float: left;
}

#nav .menu .menu_item_2 .second_level_menu_2 #box2_2 #Pro_text{
	width: 26.89px;
}

#nav .menu .menu_item_2 .second_level_menu_2 #box3_2 #HandHeld_text{
	width: 71.42px;
}

#nav .menu .menu_item_2 .second_level_menu_2 #box3_2{
	width: 192px;
	height: 176px;
	/*background: cadetblue;*/
	margin-top: 5px;
	float: left;
}

#nav .menu .menu_item_2 .second_level_menu_2 #box3_2 a{
	width: 192px;
}

#nav .menu .menu_item_2 .second_level_menu_2 .sub_title_2{
	width: 128px;
	height: 14px;
	color: #505050;
	font-size: 12px;
	line-height: 14px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	text-align: left;
	padding-top: 6px;
	padding-bottom: 6px;
}

#nav .menu .menu_item_2 .second_level_menu_2 .box_img #box_4_2{
	width: 600px;
	height: 280px;
	background: white;
	position: absolute;
	display: none;
}

#nav .menu .menu_item_2 .second_level_menu_2 .box_img #box_4_2 img{
	width: 600px;
	height: 280px;
	position: absolute;
	display: block;
}



#nav .menu .menu_item_3{
	width: 114px;
	height: 60px;
	/*background: red;*/
	background: white;
	float: left;
	text-align: center;
	position: relative;
}

#nav .menu .menu_item_3 .second_level_menu_3{
	width: 1230px;
	height: 0px;
	background: white;
	transition: height 0.2s;
	overflow: hidden;
	position: absolute;
	left: -338px;
}

#nav .menu .menu_item_3 .second_level_menu_3 a:hover{
	color: #44a8f2;
}

#nav .menu .menu_item_3:hover .second_level_menu_3{
	height: 307px;
	z-index: 999;
}

#nav .menu .menu_item_3 .second_level_menu_3 #box1_3{
	width: 257px;
	height: 258px;
	/*background: blueviolet;*/
	margin-left: 101px;
	margin-top: 5px;
	float: left;
}

#nav .menu .menu_item_3 .second_level_menu_3 #box1_3 #DJI_Enterprise_text{
	width: 100.08px;
}


#nav .menu .menu_item_3 .second_level_menu_3 #box1_3 #DRONES_text{
	width: 53.45px;
	margin-top: 20px;
}

#nav .menu .menu_item_3 .second_level_menu_3 #box1_3 #Solutions_text{
	width: 73.05px;
	margin-top: 20px;
}

#nav .menu .menu_item_3 .second_level_menu_3 #box2_3{
	width: 257px;
	height: 206px;
	/*background: coral;*/
	margin-top: 5px;
	float: left;
}

#nav .menu .menu_item_3 .second_level_menu_3 #box2_3 #Payloads_text{
	width: 66.92px;
}

#nav .menu .menu_item_3 .second_level_menu_3 #box2_3 #SOFTWARE_text{
	width: 71.98px;
	margin-top: 20px;
}

#nav .menu .menu_item_3 .second_level_menu_3 #box2_3 #Components_text{
	width: 89.7px;
	margin-top: 20px;
}

#nav .menu .menu_item_3 .second_level_menu_3 .box_img #box_3_3{
	width: 600px;
	height: 280px;
	background: white;
	position: absolute;
	display: none;
}

#nav .menu .menu_item_3 .second_level_menu_3 .box_img #box_3_3 img{
	width: 600px;
	height: 280px;
	position: absolute;
	display: block;
}



#nav .menu .menu_item_4{
	width: 114px;
	height: 60px;
	/*background: cadetblue;*/
	background: white;
	float: left;
	text-align: center;
	z-index: 999;
	position: relative;
}

#nav .menu .menu_item_4 .second_level_menu_4{
	width: 114px;
	height: 0px;
	background: white;
	transition: height 0.1s;
	overflow: hidden;
}

#nav .menu .menu_item_4:hover .second_level_menu_4{
	height: 108px;
	z-index: 999;
}

#nav .menu .menu_item_4 .second_level_menu_4 a:hover{
	background: #b6b6b6;
	color: white;
}

#nav .menu .menu_item_4 .second_level_menu_4 .second_level_menu_4_text{
	width: 97px;
	font-size: 9px;
	color: #505050;
	line-height: 36px;
	text-decoration: none;
	display: block;
	text-align: left;
	padding-left: 17px;
}

#nav .menu .menu_item_5{
	width: 95px;
	height: 60px;
	/*background: forestgreen;*/
	background: white;
	float: left;
	text-align: center;
	position: relative;
}

#nav .menu .menu_item_5 .second_level_menu_5{
	width: 1230px;
	height: 0px;
	background: white;
	transition: height 0.2s;
	overflow: hidden;
	position: absolute;
	left: -566px;
}

#nav .menu .menu_item_5:hover .second_level_menu_5{
	height: 307px;
	z-index: 999;
}

#nav .menu .menu_item_5 .second_level_menu_5 a:hover{
	color: #44a8f2;
}

#nav .menu .menu_item_5 .second_level_menu_5 #box1_5{
	width: 171.31px;
	height: 203px;
	/*background: blueviolet;*/
	margin-left: 101px;
	margin-top: 5px;
	float: left;
}

#nav .menu .menu_item_5 .second_level_menu_5 #box1_5 #Product_Support_text{
	width: 123.95px;
}

#nav .menu .menu_item_5 .second_level_menu_5 #box1_5 a{
	width: 171.31px;
}


#nav .menu .menu_item_5 .second_level_menu_5 #box2_5 {
	width: 171.31px;
	height: 151px;
	/*background: coral;*/
	margin-top: 5px;
	float: left;
}

#nav .menu .menu_item_5 .second_level_menu_5 #box2_5 #SERVICE_PLANS_text{
	width: 98.53px;
	
}

#nav .menu .menu_item_5 .second_level_menu_5 #box2_5 a{
	width: 171.31px;
}


#nav .menu .menu_item_5 .second_level_menu_5 #box3_5 {
	width: 171.31px;
	height: 191px;
	/*background: cornflowerblue;*/
	margin-top: 5px;
	float: left;
}
	
#nav .menu .menu_item_5 .second_level_menu_5 #box3_5 #REPAIR_SERVICES_text{
	width: 109.98px;
}

#nav .menu .menu_item_5 .second_level_menu_5 #box3_5 a{
	width: 171.31px;
}

#nav .menu .menu_item_5 .second_level_menu_5 #box3_5 #TERMS_text{
	width: 42.55px;
	margin-top: 20px;
}

#nav .menu .menu_item_5 .second_level_menu_5 .box_img #box_4_5{
	width: 600px;
	height: 280px;
	background: white;
	position: absolute;
	display: none;
}

#nav .menu .menu_item_5 .second_level_menu_5 .box_img #box_4_5 img{
	width: 600px;
	height: 280px;
	position: absolute;
	display: block;
}

#nav .menu .menu_item_text{
	font-size: 9px;
	color: #505050;
	/*color: white;*/
	line-height: 60px;
	text-decoration: none;
	display: block;
}

#nav .menu .search_bt_box{
	width: 50px;
	height: 60px;
	display: block;
	float:right;
}

#nav .menu .search_bt{
	width: 15px;
	height: 30px;
	padding: 15px 25px 15px 10px;
}

/* 购物车 
 * width: 162px
 * 
 */
#nav .shop{
	width: 162px;
	height: 60px;
	background: #44a8f2;
	float: left;
	display: block;
}

#nav .shop .shop_in_box{
	width: 69px;
	height: 14px;
	/*background: black;*/
	margin: 23px auto;
}

#nav .shop .shop_in_box .shop_text{
	font-size: 9px;
	color: white;
	display: inline-block;
	/*background: palegreen;*/
	line-height: 9px;
	margin-top: 3px;
	float: left;
}

#nav .shop .shop_logo{
	/*background: red;*/
	float: right;
}

/* 语言
 * width: 170px
 */

#nav .lang{
	width: 110px;
	height: 60px;
	/*background: chocolate;*/
	float: left;
}

#nav .lang .lang_box{
	width: 72px;
	height: 30px;
	padding: 15px 19px 15px 19px;
	display: block;
}

#nav .lang .second_level_menu_6{
	width: 110px;
	height: 0px;
	background: white;
	overflow: hidden;
	transition: height 0.1s;
	position: relative;
}

#nav .lang:hover .second_level_menu_6{
	height: 324px;
	z-index: 999;
}

#nav .lang .second_level_menu_6 .second_level_menu_6_text{
	width: 110px;
	height: 36px;
	font-size: 9px;
	color: #707473;
	line-height: 36px;
	text-decoration: none;
	display: block;
	text-align: left;
	padding-left: 30px;
	text-transform: uppercase;
}

#nav .lang .second_level_menu_6 a:hover{
	background: #b6b6b6;	
	color: white;
}

#nav .lang  .lang_box .logo_lang{
	width: 15px;
	height: 30px;
	float: left;
}

#nav .lang .lang_box .lang_text{
	font-size: 9px;
	color: #505050;
	line-height: 30px;
	text-decoration: none;
	display: block;
	float: right;
}

/* 登陆
 * 
 */
#nav .login{
	width: 60px;
	height: 60px;
	/*background: palegreen;*/
	float: left;
	position: relative;
}

#nav .login .login_box{
	width: 16px;
	height: 30px;
	line-height: 30px;
	display: block;
	padding: 15px 15px 15px 29px;
}

#nav .login .user_icon{
	width: 16px;
	height: auto;
}

#nav .login .second_level_menu_7{
	width: 94px;
	height: 0px;
	background: white;
	overflow: hidden;
	transition: height 0.1s;
	position: absolute;
	right: 0px;
}

#nav .login .second_level_menu_7 .second_level_menu_7_text{
	width: 54px;
	height: 36px;
	font-size: 9px;
	color: #707473;
	line-height: 36px;
	text-decoration: none;
	display: block;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
}

#nav .login:hover .second_level_menu_7{
	height: 72px;
	z-index: 999;
}

#nav .login .second_level_menu_7 a:hover{
	background: #b6b6b6;	
	color: white;
}

